.App {
  font-family: sans-serif !important;
  text-align: center;
}

.lotteryball-wrapper {
  display: flex;
  justify-content: center;
}


.lottery-ball {
  width: 25px;
  height: 25px;
  padding: 25px;
  justify-content: center;
  background-color: orange;
  margin: 30px 10px;
  color: #fff;
  border: 2px solid black;
  border-radius: 50%;
}

.App button {
  padding: 10px 30px;
  background-color: purple;
  color: #fff;
  border: 2px solid black;
  border-radius: 10px;
}